<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <a href="adminhome">Home</a>
    <a href="adminviewfarmers">View Farmers</a>
    <a href="adminviewcustomers">View Customers</a>
    <a href="admin_manage_farmingtypes">Manage Farming types</a>
    <a href="adminviewmarketitems">View MarketItems</a>
    <a href="admin_manage_events">manage Events</a>
    <a href="admin_manage_pest">manage pests</a>
    <a href="admin_manage_crops">manage Crops</a>
    <a href="admin_manage_harmfullpest">Manage harmfull Pest</a>
    <a href="admin_manage_pesticide">Manage pesticide</a>
    <a href="admin_manage_trainingvideos">Manage Training Videos</a>
    <a href="admin_complaints">Complaints</a>
    <a href="/">Logout</a>
