{% include 'adminheader.html' %}

<center>
    <div class="img-div"></div>
    <h3>View farmers</h3>

    <table class="table table-striped tbl-new bg-light shadow" style="max-width: 1200px;">
        <tr>
            <th>Name</th>
            <th>House Name</th>
            <th>Place</th>
            <th>Pincode</th>
            <th>Phone</th>
            <th>gender</th>
            <th>Date-of-Birth</th>

        </tr>
        {% for row in data['res'] %}
        <tr>
            <td>{{ row['fname'] }}{{ row['lname'] }}</td>
            <td>{{ row['hname'] }}</td>
            <td>{{ row['place'] }}</td>
            <td>{{ row['pincode'] }}</td>
            <td>{{ row['phone'] }}</td>
            <td>{{ row['gender'] }}</td>
            <td>{{ row['dob'] }}</td>
            {% if row['usertype']=="pending"  %}
            <td><a class="btn btn-success" href="?action=accept&login_id={{ row['login_id'] }}">accept</a></td>
            <td><a class="btn btn-danger" href="?action=reject&login_id={{ row['login_id'] }}">reject</a></td>
            {% endif %}

        </tr>
        {% endfor %}
    </table>
</center>

{% include 'footer.html' %}

