{% include 'adminheader.html' %}

<center>
    <div class="img-div"></div>
    <h3>View Customers</h3>

    <table class="table table-striped tbl-new bg-light shadow" style="max-width: 1200px;">
        <tr>
            <th>Name</th>
            <th>House Name</th>
            <th>Place</th>
            <th>Pincode</th>
            <th>Phone</th>
            <th>Email</th>

        </tr>
        {% for row in data['res'] %}
        <tr>
            <td>{{ row['fname'] }}{{ row['lname'] }}</td>
            <td>{{ row['hname'] }}</td>
            <td>{{ row['place'] }}</td>
            <td>{{ row['pincode'] }}</td>
            <td>{{ row['phone'] }}</td>
            <td>{{ row['email'] }}</td>


        </tr>
        {% endfor %}
    </table>
</center>

{% include 'footer.html' %}