{% include 'customerheader.html' %}

<center>
    <div class="img-div"></div>
    <h3>Pest's Details</h3>

    <table class="table table-striped tbl-new bg-light shadow" style="max-width: 1000px;">
        <tr>
            <th>Index</th>
            <th>Pest</th>
            <th>Image</th>
            <th>Details</th>
     

        </tr>
        {% for row in data['res'] %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row['pest'] }}</td>
            <td><img src="/{{ row['image'] }}" style="width: 70px;height: 70px;border-radius: 10px;" alt=""></td>
            <td>{{ row['details'] }}</td>
  


        </tr>
        {% endfor %}
    </table>
</center>

{% include 'footer.html' %}