
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <a href="adminhome">Home</a>
    <a href="customer_view_pest">View Pest</a>
    <a href="customer_view_harmfullpest">View harmfull Pest</a>
    <a href="customer_view_items">View Items<   /a>
    <a href="customer_my_orders">My Orders</a>
    <a href="cart">Cart</a>
    <a href="customer_send_complaint">Any Complaints</a>
    <a href="customer_add_enquiry">Add Enquiry</a>

    <a href="/">Logout</a>
