{% include 'farmerheader.html' %}

<center>
    <div class="img-div"></div>
    <h3>Training Contents</h3>

    <table class="table table-striped tbl-new bg-light shadow" style="max-width: 1200px;">
        <tr>
            <th>Index</th>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
            <th>Link</th>
     

        </tr>
        {% for row in data['res'] %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row['title'] }}</td>
            <td>{{ row['description'] }}</td>
            <td>{{ row['date_created'] }}</td>
            <td><a class="btn btn-dark" href="/{{ row['video_link'] }}">Watch Now</a></td>
  


        </tr>
        {% endfor %}
    </table>
</center>

{% include 'footer.html' %}