<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <a href="farmerhome">Home</a>
    <a href="">Predict Pest</a>
    <a href="farmer_view_pest">View Pest</a>
    <a href="farmer_view_harmfullpest">View Harmfull Pest</a>
    <a href="farmer_view_farmingtyes">View Farming Types</a>
    <a href="farmer_view_training">View Training Contents</a>
    <a href="farmer_view_orders">View Orders</a>
    <a href="farmer_view_enquiry">View Enquiry</a>

    <a href="/">Logout</a>
